name: CI com Docker # Nome do workflow (rótulo exibido no GitHub Actions)

on:                 # Define quando o pipeline será executado
  push:             # Evento que dispara o pipeline
    branches: [ main ] # Executa apenas quando houver push na branch main

jobs:               # Conjunto de jobs do pipeline
  build-test:       # Identificador do job (nome escolhido pelo autor)
    runs-on: ubuntu-latest # Sistema operacional do ambiente de execução (Linux)

    steps:          # Etapas executadas dentro do job

      # 1. Clonar o repositório
      - name: Checkout do código # Nome da etapa (apenas para identificação)
        uses: actions/checkout@v3 # Baixa o código do repositório (equivalente a git clone)

      # 2. Build da imagem Docker
      - name: Build da imagem # Etapa responsável por criar a imagem Docker
        run: docker build -t aplicacao-ci:1.0 . # Cria a imagem a partir do Dockerfile

      # 3. Executar o container
      - name: Executar container # Sobe a aplicação dentro de um container Docker
        run: docker run -d -p 3000:3000 aplicacao-ci:1.0 # Executa o container em segundo plano

      # 4. Teste automatizado
      - name: Testar aplicação # Executa testes automatizados da aplicação - permissão, aguarda iniciar e executa
        run: |
          chmod +x test.sh  # Garante permissão de execução do script
          sleep 5           # Aguarda alguns segundos para a aplicação iniciar
          ./test.sh         # Executa o script de teste; falha encerra o pipeline
